.no-img {
  cursor: default !important;
}


.mr-auto {
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.p-dotdotdot {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.p-3{
  padding: 1rem;
}
