$white: #ffffff;
$black: #000000;
$font: #535e73;
$bg: #fbfbfd;
$light-purple: #f6ebff;
$purple: #a77bca;
$dark-purple: #33174a;
$light-red: #feedf1;
$red: #f5416f;
$light-orange: #fefad5;
$light-orange-2: #fde1b6;
$orange: #fdc265;
$division: 1px solid #bcbec3;
$division-big: 2px solid #bcbec3;
$division-color: #bcbec3;
$dark-gray: #e5e8ee;
$dark-gray-2: #f9f9fb;
$shadow-1: -5px 0px 50px 0px rgba(0, 0, 0, 0.05);
$shadow-1-90: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
