<div class="modal2-1 -small">
  <div class="m21-title-wrapper">
    <div class="m21-title">
      <img src="/assets/Document.svg" alt="" />
      <div class="m21-title-txt">
        <h2 class="txt-bold">{{ user.name || 'Agregar usuario' }}</h2>
      </div>
    </div>
    <button class="btn2-icon -gray" (click)="cancel()"> <img src="/assets/Close-Gray.svg" alt="" /> </button>
  </div>
  <div class="m21-body -column">
    <div class="m21-module">
      <ngx-3a-forms-basic #form [model]="user" [fields]="fields" (submit)="confirm($event)" (changed)="change()"></ngx-3a-forms-basic>
    </div>
  </div>
  <div class="m21-action-wrapper">
    <button type="button" (click)="cancel()" class="btn2-1 -gray">Cancelar</button>
    <button type="button" class="btn2-1" (click)="submit()">Guardar usuario</button>
  </div>
</div>
