.modal-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: all 0.25s;
}

.modal-space.-selected {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-space.-selected>* {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal-space.-selected>*>* {
  transition: 0.25s;
  top: 0;
  opacity: 1;
}

.modal-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  min-width: 350px;
  max-width: 650px;
  max-height: 98vh;
  background: #FFFFFF;
  border-radius: 10px;
}

.modal-1.-wide {
  width: 90vw;
}

.modal-1.-wide>.m-1-section.-brief {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-right: 20%;
}

.modal-1.-alert>.m-1-header {
  background-color: #FFFFFF;
  font-size: 0.91125rem !important;
  color: #a77bca;
  border-bottom: 1px solid #bcbec3;
}

@media (min-width: 900px) {
  .modal-1.-alert>.m-1-header {
    font-size: 1.0125rem !important;
  }
}

@media (min-width: 1200px) {
  .modal-1.-alert>.m-1-header {
    font-size: 1.125rem !important;
  }
}

@media (min-width: 1800px) {
  .modal-1.-alert>.m-1-header {
    font-size: 1.25rem !important;
  }
}

.modal-1>.m-1-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-1>.m-1-header>.m-1-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal-1>.m-1-header>.m-1-title>img {
  height: 2rem;
  margin-right: 1rem;
}

.modal-1>.m-1-header>.m-1-title>.bold {
  font-size: 0.91125rem !important;
}

@media (min-width: 900px) {
  .modal-1>.m-1-header>.m-1-title>.bold {
    font-size: 1.0125rem !important;
  }
}

@media (min-width: 1200px) {
  .modal-1>.m-1-header>.m-1-title>.bold {
    font-size: 1.125rem !important;
  }
}

@media (min-width: 1800px) {
  .modal-1>.m-1-header>.m-1-title>.bold {
    font-size: 1.25rem !important;
  }
}

.modal-1>.m-1-header>.m-1-title>.light {
  font-size: 0.54675rem !important;
}

@media (min-width: 900px) {
  .modal-1>.m-1-header>.m-1-title>.light {
    font-size: 0.6075rem !important;
  }
}

@media (min-width: 1200px) {
  .modal-1>.m-1-header>.m-1-title>.light {
    font-size: 0.675rem !important;
  }
}

@media (min-width: 1800px) {
  .modal-1>.m-1-header>.m-1-title>.light {
    font-size: 0.75rem !important;
  }
}

.modal-1>.m-1-header>button>img {
  height: 1rem;
}

.modal-1>.m-1-section {
  max-height: 100%;
  padding: 2.5rem;
  border-bottom: 1px solid #bcbec3;
  overflow-y: auto;
}

.modal-1>.m-1-section.-brief {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 2.5rem;
}

.modal-1>.m-1-section>.bold {
  margin-bottom: 2.5rem;
}

.modal-1>.m-1-section>form>* {
  margin-bottom: 2.5rem;
}

.modal-1>.m-1-section>form>*:last-child {
  margin-bottom: 0;
}

.modal-1>form {
  padding: 1rem 2.5rem;
}

.modal2-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  top: -5%;
  width: 98%;
  max-width: 1750px;
  height: 98%;
  max-height: 1050px;
  background-color: #FFFFFF;
  border-radius: 20px;
  opacity: 0;
}

.modal2-1>.m21-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  border-bottom: 1px solid #bcbec3;
  flex-shrink: 0;
}

.modal2-1>.m21-title-wrapper>.m21-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal2-1>.m21-title-wrapper>.m21-title>img {
  height: 2rem;
  margin-right: 1rem;
}

.modal2-1>.m21-title-wrapper>.m21-title>.m21-title-txt>* {
  margin-bottom: 0.5rem;
}

.modal2-1>.m21-title-wrapper>.m21-title>.m21-title-txt>*:last-child {
  margin-bottom: 0;
}

.modal2-1.-small {
  max-width: 650px;
  height: auto;
  max-height: 98%;
}

.modal2-1>.m21-body {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.modal2-1>.m21-body>.m21-col {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.modal2-1>.m21-body>.m21-col:first-child {
  border-right: 1px solid #bcbec3;
}

.modal2-1>.m21-body>.m21-col.-flex-wrap {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.modal2-1>.m21-body>.m21-col.-small {
  width: 30%;
  flex-shrink: 0;
}

.modal2-1>.m21-body.-column {
  flex-direction: column;
  height: auto;
  max-height: 100%;
  overflow-y: auto;
}

.modal2-1>.m21-action-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 25px;
  border-top: 1px solid #bcbec3;
  flex-shrink: 0;
}

.modal2-1>.m21-action-wrapper>* {
  margin-right: 0.5rem;
}

.modal2-1>.m21-action-wrapper>*:last-child {
  margin-right: 0;
}

.m21-timeline {
  position: relative;
  flex: 1;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  align-items: center;
  padding: 25px;
}

.m21-timeline::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 15%;
  left: 40.5px;
  width: 3px;
  height: 70%;
  background-color: #e5e8ee;
}

.m21-timeline>.m21-step {
  position: relative;
  z-index: 1;
  width: 35px;
  height: 35px;
  background-color: #e5e8ee;
  border-radius: 50%;
}

.m21-timeline>.m21-step.-checked {
  background-color: #a77bca;
  background-image: url(/assets/Check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}

.m21-timeline>.m21-step.-next {
  background-color: #f6ebff;
}

.m21-timeline>.m21-step.-next::after {
  content: '';
  position: absolute;
  width: 42.5px;
  height: 42.5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid #a77bca;
  border-radius: 50%;
}

.m21-timeline>.m21-step-txt.-gray {
  color: #bcbec3;
}

.m21-preview {
  position: relative;
  flex: 1;
  width: calc(100% - 50px);
  margin: 25px 25px 1rem;
  background-image: url(/assets/Example-Order.png);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.25s;
}

.m21-preview::after {
  content: 'Click para ver orden';
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  opacity: 0;
  transition: 0.25s;
}

.m21-preview:hover::after {
  opacity: 1;
}

.m21-patient-brief {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 1rem;
  padding: 0 25px 25px;
}

.m21-patient-brief>button {
  place-self: center;
}

.m21-tabs {
  display: flex;
  flex-direction: row;
  padding: 0 25px;
  background-color: #f9f9fb;
  border-bottom: 1px solid #bcbec3;
}

.m21-tabs>* {
  border-right: 1px solid #bcbec3;
}

.m21-tabs>*:first-child {
  border-left: 1px solid #bcbec3;
}

.m21-tabs>*:last-child {
  border-right: 1px solid #bcbec3;
}

.m21-module {
  padding: 25px;
  border-bottom: 1px solid #bcbec3;
}

.m21-module>* {
  margin-bottom: 0.75rem;
}

.m21-module>*:last-child {
  margin-bottom: 0;
}

.m21-module:last-child {
  border-bottom: none;
}

.m21-module.-big {
  flex: 1;
  overflow-y: auto;
}

.m21-module-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.m21-label-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.m21-label-list>.t2-label {
  margin-bottom: 0.5rem;
}

.m21-comment-space {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  padding: 15px;
  background-color: #FFFFFF;
  border-top: 1px solid #bcbec3;
}

.m21-comment-space>input {
  width: 100%;
}

.m21-comment-space>* {
  margin-right: 1rem;
}

.m21-comment-space>*:last-child {
  margin-right: 0;
}

.m21-upload {
  position: absolute;
  bottom: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  color: #a77bca;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #f6ebff;
  overflow: hidden;
}

.m21-upload>p {
  position: relative;
  z-index: 1;
}

.m21-upload>.m21-upload-progress {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #ebd2ff;
  transition: 0.25s;
}

.m21-comment {
  margin-bottom: 1rem;
  padding: 15px;
  border: 1px solid #bcbec3;
  border-radius: 15px;
}

.m21-comment>.m21-comment-author-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.m21-comment>.m21-comment-author-wrapper>.m21-comment-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

.m21-comment>.m21-comment-author-wrapper>.m21-comment-author>.m21-comment-author-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  border: 1px solid #bcbec3;
  border-radius: 50%;
}

.m21-comment>.m21-comment-author-wrapper>.m21-comment-author>.m21-comment-author-txt>.txt-small {
  color: #bcbec3;
}

.m21-comment>p {
  margin-top: 1rem;
}

.m21-comment:last-child {
  margin-bottom: calc(1rem + 58px);
}

.m21-module-action-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.m21-module-action-wrapper.-only {
  justify-content: flex-end;
}

.modal-executors {
  display: flex;
  flex-direction: column;
  width: 98%;
  max-width: 850px;
  height: 98%;
  max-height: 1250px;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.modal-executors>.me-body {
  height: 100%;
  padding: 25px;
  overflow-y: auto;
}

.modal-executors>.me-body>.me-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.modal-executors>.me-body>.me-title>.input2-1 {
  width: auto;
}

.modal-executors>.me-action-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  padding: 25px;
  border-top: 1px solid #bcbec3;
}

.modal-executors>.me-action-wrapper>* {
  margin-right: 0.5rem;
}

.modal-executors>.me-action-wrapper>*:last-child {
  margin-right: 0;
}

.upload-modal-wrapper {
  width: 98%;
  max-width: 1750px;
  height: 98%;
  max-height: 1050px;
  opacity: 0;
}

.upload-modal {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  background-color: #FFFFFF;
  border-radius: 15px;
  overflow: hidden;
}

.upload-modal>.progress {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #f6ebff;
}

.upload-modal>.um-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #a77bca;
}

.upload-modal>.um-controls>button {
  margin-right: 1rem;
}

.upload-modal>button,
.upload-modal>.um-controls {
  position: relative;
  z-index: 1;
}

.patients-modal {
  width: 100%;
  padding: 25px;
  background-color: #FFFFFF;
  border-radius: 15px;
  overflow-y: auto;
}

.patients-modal>h2 {
  margin-bottom: 1rem;
}

.patients-modal>.patient-cups {
  margin-bottom: 2rem;
  border: 1px solid #bcbec3;
  border-radius: 15px;
}

.patients-modal>.patient-cups>h3 {
  margin: 25px;
}

.patients-modal>.patient-cups>.pc-table>.pc-t-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #bcbec3;
}

.patients-modal>.patient-cups>.pc-table>.pc-t-row:last-child {
  border-bottom: none;
}

.patients-modal>.patient-cups>.pc-table>.pc-t-row>.pc-t-cell {
  width: 25%;
  padding: 10px;
}

.patients-modal>.pm-action-wrapper {
  position: relative;
  left: -25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: calc(100% + 50px);
  margin-top: 1rem;
  padding: 25px 25px 0;
  border-top: 1px solid #bcbec3;
}

.patients-modal>.pm-action-wrapper>* {
  margin-right: 0.5rem;
}

.patients-modal>.pm-action-wrapper>*:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=modals.css.map */
